{:name "Enrique",
 :matches
       {["Panama" "Tunisia"] "X",
        ["Colombia" "Japan"] "1",
        ["Iran" "Portugal"] "2",
        ["Serbia" "Switzerland"] "X",
        ["Costa Rica" "Serbia"] "1",
        ["Poland" "Colombia"] "2",
        ["Sweden" "South Korea"] "1",
        ["Germany" "Sweden"] "1",
        ["Peru" "Denmark"] "2",
        ["France" "Australia"] "1",
        ["Belgium" "Tunisia"] "1",
        ["Serbia" "Brazil"] "2",
        ["England" "Panama"] "1",
        ["Denmark" "France"] "X",
        ["Russia" "Egypt"] "X",
        ["Japan" "Poland"] "X",
        ["Nigeria" "Iceland"] "2",
        ["Denmark" "Australia"] "1",
        ["Switzerland" "Costa Rica"] "X",
        ["Iran" "Spain"] "2",
        ["Uruguay" "Russia"] "X",
        ["South Korea" "Mexico"] "X",
        ["Russia" "Saudi Arabia"] "1",
        ["South Korea" "Germany"] "2",
        ["Mexico" "Sweden"] "X",
        ["Iceland" "Croatia"] "X",
        ["Saudi Arabia" "Egypt"] "2",
        ["Argentina" "Iceland"] "1",
        ["England" "Belgium"] "X",
        ["Japan" "Senegal"] "2",
        ["Portugal" "Spain"] "1",
        ["Brazil" "Costa Rica"] "1",
        ["Australia" "Peru"] "2",
        ["Uruguay" "Saudi Arabia"] "1",
        ["Egypt" "Uruguay"] "X",
        ["Portugal" "Morocco"] "X",
        ["France" "Peru"] "1",
        ["Germany" "Mexico"] "1",
        ["Morocco" "Iran"] "1",
        ["Brazil" "Switzerland"] "1",
        ["Senegal" "Colombia"] "X",
        ["Belgium" "Panama"] "1",
        ["Argentina" "Croatia"] "2",
        ["Spain" "Morocco"] "1",
        ["Nigeria" "Argentina"] "2",
        ["Croatia" "Nigeria"] "1",
        ["Tunisia" "England"] "2",
        ["Poland" "Senegal"] "X"},
 :group-standings
       {:d1 "Argentina",
        :a2 "Russia",
        :e1 "Brazil",
        :b2 "Spain",
        :d2 "Croatia",
        :f1 "Germany",
        :c3 "Peru",
        :e2 "Costa Rica",
        :e3 "Switzerland",
        :a3 "Egypt",
        :a1 "Uruguay",
        :b1 "Portugal",
        :c4 "Australia",
        :g4 "Panama",
        :g2 "England",
        :d4 "Nigeria",
        :c2 "Denmark",
        :g3 "Tunisia",
        :h4 "Poland",
        :g1 "Belgium",
        :e4 "Serbia",
        :c1 "France",
        :f3 "Mexico",
        :b4 "Iran",
        :f2 "Sweden",
        :b3 "Morocco",
        :h2 "Senegal",
        :h1 "Colombia",
        :d3 "Iceland",
        :h3 "Poland",
        :f4 "South Korea",
        :a4 "Saudi Arabia"},
 :rounds
       {:round-16
                          #{"Uruguay" "Argentina" "Portugal" "Brazil" "Colombia" "Croatia"
                            "Belgium" "Mexico" "Egypt" "France" "Senegal" "Switzerland" "Spain"
                            "Germany" "Costa Rica" "England"},
        :quarter
                          #{"Argentina" "Portugal" "Brazil" "Colombia" "Belgium" "France"
                            "Spain" "Germany"},
        :semi #{"Portugal" "Brazil" "France" "Germany"},
        :final #{"Argentina" "Brazil"},
        :third-and-fourth #{"France" "Germany"},
        :winner "Brazil"},
 :pichichi "Neymar",
 :mvp "Neymar"}
