{:name "Telmo",
 :matches
       {["Panama" "Tunisia"] "2",
        ["Colombia" "Japan"] "2",
        ["Iran" "Portugal"] "2",
        ["Serbia" "Switzerland"] "1",
        ["Costa Rica" "Serbia"] "2",
        ["Poland" "Colombia"] "1",
        ["Sweden" "Korea Republic"] "2",
        ["Germany" "Sweden"] "1",
        ["Peru" "Denmark"] "X",
        ["France" "Australia"] "1",
        ["Belgium" "Tunisia"] "1",
        ["Serbia" "Brazil"] "2",
        ["England" "Panama"] "1",
        ["Denmark" "France"] "X",
        ["Russia" "Egypt"] "X",
        ["Japan" "Poland"] "2",
        ["Nigeria" "Iceland"] "X",
        ["Denmark" "Australia"] "1",
        ["Switzerland" "Costa Rica"] "1",
        ["Iran" "Spain"] "2",
        ["Uruguay" "Russia"] "X",
        ["Korea Republic" "Mexico"] "X",
        ["Russia" "Saudi Arabia"] "1",
        ["Korea Republic" "Germany"] "2",
        ["Mexico" "Sweden"] "2",
        ["Iceland" "Croatia"] "1",
        ["Saudi Arabia" "Egypt"] "2",
        ["Argentina" "Iceland"] "1",
        ["England" "Belgium"] "X",
        ["Japan" "Senegal"] "2",
        ["Portugal" "Spain"] "X",
        ["Brazil" "Costa Rica"] "1",
        ["Australia" "Peru"] "2",
        ["Uruguay" "Saudi Arabia"] "1",
        ["Egypt" "Uruguay"] "2",
        ["Portugal" "Morocco"] "1",
        ["France" "Peru"] "1",
        ["Germany" "Mexico"] "1",
        ["Morocco" "Iran"] "1",
        ["Brazil" "Switzerland"] "1",
        ["Senegal" "Colombia"] "1",
        ["Belgium" "Panama"] "1",
        ["Argentina" "Croatia"] "2",
        ["Spain" "Morocco"] "1",
        ["Nigeria" "Argentina"] "2",
        ["Croatia" "Nigeria"] "X",
        ["Tunisia" "England"] "2",
        ["Poland" "Senegal"] "X"},
 :group-standings
       {:d1 "Argentina",
        :a2 "Uruguay",
        :e1 "Brazil",
        :b2 "Portugal",
        :d2 "Croatia",
        :f1 "Germany",
        :c3 "Peru",
        :e2 "Serbia",
        :e3 "Switzerland",
        :a3 "Egypt",
        :a1 "Russia",
        :b1 "Spain",
        :c4 "Australia",
        :g4 "Panama",
        :g2 "England",
        :d4 "Iceland",
        :c2 "Denmark",
        :g3 "Tunisia",
        :h4 "Poland",
        :g1 "Belgium",
        :e4 "Costa Rica",
        :c1 "France",
        :f3 "Mexico",
        :b4 "Iran",
        :f2 "Korea Republic",
        :b3 "Morocco",
        :h2 "Colombia",
        :h1 "Senegal",
        :d3 "Nigeria",
        :h3 "Japan",
        :f4 "Sweden",
        :a4 "Saudi Arabia"},
 :rounds
       {:round-16
                          #{"Uruguay" "Argentina" "Portugal" "Brazil" "Colombia" "Croatia"
                            "Belgium" "Russia" "France" "Serbia" "Korea Republic" "Senegal"
                            "Denmark" "Spain" "Germany" "England"},
        :quarter
                          #{"Argentina" "Brazil" "Belgium" "Russia" "France" "Spain" "Germany"
                            "England"},
        :semi #{"Argentina" "Brazil" "France" "Germany"},
        :final #{"Argentina" "France"},
        :third-and-fourth #{"Brazil" "Germany"},
        :winner ""},
 :pichichi "Mbappe",
 :mvp "Messi"}
