{:name "ZALDUA",
 :matches {["Panama" "Tunisia"] "X",
           ["Colombia" "Japan"] "X",
           ["Iran" "Portugal"] "2",
           ["Serbia" "Switzerland"] "2",
           ["Costa Rica" "Serbia"] "X",
           ["Poland" "Colombia"] "1",
           ["Sweden" "South Korea"] "1",
           ["Germany" "Sweden"] "1",
           ["Peru" "Denmark"] "2",
           ["France" "Australia"] "1",
           ["Belgium" "Tunisia"] "1",
           ["Serbia" "Brazil"] "2",
           ["England" "Panama"] "1",
           ["Denmark" "France"] "2",
           ["Russia" "Egypt"] "1",
           ["Japan" "Poland"] "2",
           ["Nigeria" "Iceland"] "2",
           ["Denmark" "Australia"] "1",
           ["Switzerland" "Costa Rica"] "X",
           ["Iran" "Spain"] "2",
           ["Uruguay" "Russia"] "1",
           ["South Korea" "Mexico"] "2",
           ["Russia" "Saudi Arabia"] "1",
           ["South Korea" "Germany"] "2",
           ["Mexico" "Sweden"] "X",
           ["Iceland" "Croatia"] "2",
           ["Saudi Arabia" "Egypt"] "X",
           ["Argentina" "Iceland"] "1",
           ["England" "Belgium"] "X",
           ["Japan" "Senegal"] "X",
           ["Portugal" "Spain"] "2",
           ["Brazil" "Costa Rica"] "1",
           ["Australia" "Peru"] "2",
           ["Uruguay" "Saudi Arabia"] "1",
           ["Egypt" "Uruguay"] "2",
           ["Portugal" "Morocco"] "1",
           ["France" "Peru"] "1",
           ["Germany" "Mexico"] "1",
           ["Morocco" "Iran"] "1",
           ["Brazil" "Switzerland"] "1",
           ["Senegal" "Colombia"] "2",
           ["Belgium" "Panama"] "1",
           ["Argentina" "Croatia"] "1",
           ["Spain" "Morocco"] "1",
           ["Nigeria" "Argentina"] "2",
           ["Croatia" "Nigeria"] "1",
           ["Tunisia" "England"] "2",
           ["Poland" "Senegal"] "1"},
 :group-standings {:d1 "Argentina",
                   :a2 "Russia",
                   :e1 "Brazil",
                   :b2 "Portugal",
                   :d2 "Croatia",
                   :f1 "Germany",
                   :c3 "Peru",
                   :e2 "Switzerland",
                   :e3 "Costa Rica",
                   :a3 "Egypt",
                   :a1 "Uruguay",
                   :b1 "Spain",
                   :c4 "Australia",
                   :g4 "Tunisia",
                   :g2 "England",
                   :d4 "Nigeria",
                   :c2 "Denmark",
                   :g3 "Panama",
                   :h4 "Senegal",
                   :g1 "Belgium",
                   :e4 "Serbia",
                   :c1 "France",
                   :f3 "Sweden",
                   :b4 "Iran",
                   :f2 "Mexico",
                   :b3 "Morocco",
                   :h2 "Colombia",
                   :h1 "Poland",
                   :d3 "Iceland",
                   :h3 "Japan",
                   :f4 "South Korea",
                   :a4 "Saudi Arabia"},
 :rounds {:round-16 #{"Uruguay"
                      "Argentina"
                      "Portugal"
                      "Brazil"
                      "Colombia"
                      "Croatia"
                      "Belgium"
                      "Mexico"
                      "Russia"
                      "France"
                      "Denmark"
                      "Switzerland"
                      "Spain"
                      "Germany"
                      "Poland"
                      "England"},
          :quarter #{"Uruguay" "Argentina" "Brazil" "Belgium" "France" "Spain" "Germany" "Poland"},
          :semi #{"Brazil" "France" "Spain" "Germany"},
          :final #{"France" "Germany"},
          :third-and-fourth #{"Brazil" "Spain"},
          :winner "France"},
 :pichichi "GRIEZMANN",
 :mvp "GRIEZMANN"}
