{:name "Celine",
 :matches
       {["Panama" "Tunisia"] "2",
        ["Colombia" "Japan"] "1",
        ["Iran" "Portugal"] "2",
        ["Serbia" "Switzerland"] "X",
        ["Costa Rica" "Serbia"] "X",
        ["Poland" "Colombia"] "X",
        ["Sweden" "Korea Republic"] "X",
        ["Germany" "Sweden"] "1",
        ["Peru" "Denmark"] "2",
        ["France" "Australia"] "1",
        ["Belgium" "Tunisia"] "1",
        ["Serbia" "Brazil"] "1",
        ["England" "Panama"] "1",
        ["Denmark" "France"] "2",
        ["Russia" "Egypt"] "1",
        ["Japan" "Poland"] "2",
        ["Nigeria" "Iceland"] "2",
        ["Denmark" "Australia"] "X",
        ["Switzerland" "Costa Rica"] "1",
        ["Iran" "Spain"] "2",
        ["Uruguay" "Russia"] "X",
        ["Korea Republic" "Mexico"] "2",
        ["Russia" "Saudi Arabia"] "1",
        ["Korea Republic" "Germany"] "2",
        ["Mexico" "Sweden"] "X",
        ["Iceland" "Croatia"] "X",
        ["Saudi Arabia" "Egypt"] "2",
        ["Argentina" "Iceland"] "X",
        ["England" "Belgium"] "X",
        ["Japan" "Senegal"] "2",
        ["Portugal" "Spain"] "X",
        ["Brazil" "Costa Rica"] "1",
        ["Australia" "Peru"] "X",
        ["Uruguay" "Saudi Arabia"] "1",
        ["Egypt" "Uruguay"] "2",
        ["Portugal" "Morocco"] "1",
        ["France" "Peru"] "X",
        ["Germany" "Mexico"] "1",
        ["Morocco" "Iran"] "2",
        ["Brazil" "Switzerland"] "1",
        ["Senegal" "Colombia"] "X",
        ["Belgium" "Panama"] "1",
        ["Argentina" "Croatia"] "X",
        ["Spain" "Morocco"] "1",
        ["Nigeria" "Argentina"] "2",
        ["Croatia" "Nigeria"] "1",
        ["Tunisia" "England"] "X",
        ["Poland" "Senegal"] "2"},
 :group-standings
       {:d1 "Croatia",
        :a2 "Russia",
        :e1 "Brazil",
        :b2 "Portugal",
        :d2 "Argentina",
        :f1 "Germany",
        :c3 "Australia",
        :e2 "Switzerland",
        :e3 "Serbia",
        :a3 "Egypt",
        :a1 "Uruguay",
        :b1 "Spain",
        :c4 "Peru",
        :g4 "Panama",
        :g2 "England",
        :d4 "Nigeria",
        :c2 "Denmark",
        :g3 "Tunisia",
        :h4 "Poland",
        :g1 "Belgium",
        :e4 "Costa Rica",
        :c1 "France",
        :f3 "Mexico",
        :b4 "Morocco",
        :f2 "Sweden",
        :b3 "Iran",
        :h2 "Colombia",
        :h1 "Senegal",
        :d3 "Iceland",
        :h3 "Japan",
        :f4 "Korea Republic",
        :a4 "Saudi Arabia"},
 :rounds
       {:round-16
                          #{"Uruguay" "Argentina" "Portugal" "Brazil" "Colombia" "Sweden"
                            "Croatia" "Belgium" "Russia" "France" "Senegal" "Denmark"
                            "Switzerland" "Spain" "Germany" "England"},
        :quarter
                          #{"Argentina" "Portugal" "Brazil" "Croatia" "Belgium" "France"
                            "Spain" "Germany"},
        :semi #{"Portugal" "Brazil" "France" "Spain"},
        :final #{"Brazil" "Spain"},
        :third-and-fourth #{"Portugal" "France"},
        :winner "Spain"},
 :pichichi "Cristiano Ronaldo",
 :mvp "Neymar "}
