{:name "Cristian",
 :matches
       {["Panama" "Tunisia"] "X",
        ["Colombia" "Japan"] "X",
        ["Iran" "Portugal"] "2",
        ["Serbia" "Switzerland"] "2",
        ["Costa Rica" "Serbia"] "X",
        ["Poland" "Colombia"] "X",
        ["Sweden" "South Korea"] "2",
        ["Germany" "Sweden"] "1",
        ["Peru" "Denmark"] "1",
        ["France" "Australia"] "1",
        ["Belgium" "Tunisia"] "1",
        ["Serbia" "Brazil"] "2",
        ["England" "Panama"] "1",
        ["Denmark" "France"] "X",
        ["Russia" "Egypt"] "2",
        ["Japan" "Poland"] "1",
        ["Nigeria" "Iceland"] "2",
        ["Denmark" "Australia"] "X",
        ["Switzerland" "Costa Rica"] "X",
        ["Iran" "Spain"] "2",
        ["Uruguay" "Russia"] "1",
        ["South Korea" "Mexico"] "2",
        ["Russia" "Saudi Arabia"] "1",
        ["South Korea" "Germany"] "2",
        ["Mexico" "Sweden"] "1",
        ["Iceland" "Croatia"] "X",
        ["Saudi Arabia" "Egypt"] "2",
        ["Argentina" "Iceland"] "1",
        ["England" "Belgium"] "2",
        ["Japan" "Senegal"] "1",
        ["Portugal" "Spain"] "1",
        ["Brazil" "Costa Rica"] "1",
        ["Australia" "Peru"] "X",
        ["Uruguay" "Saudi Arabia"] "1",
        ["Egypt" "Uruguay"] "1",
        ["Portugal" "Morocco"] "2",
        ["France" "Peru"] "1",
        ["Germany" "Mexico"] "X",
        ["Morocco" "Iran"] "1",
        ["Brazil" "Switzerland"] "1",
        ["Senegal" "Colombia"] "X",
        ["Belgium" "Panama"] "1",
        ["Argentina" "Croatia"] "2",
        ["Spain" "Morocco"] "1",
        ["Nigeria" "Argentina"] "X",
        ["Croatia" "Nigeria"] "1",
        ["Tunisia" "England"] "1",
        ["Poland" "Senegal"] "1"},
 :group-standings
       {:d1 "Croatia",
        :a2 "Egypt",
        :e1 "Brazil",
        :b2 "Morocco",
        :d2 "Iceland",
        :f1 "Germany",
        :c3 "Peru",
        :e2 "Serbia",
        :e3 "Switzerland",
        :a3 "Russia",
        :a1 "Uruguay",
        :b1 "Spain",
        :c4 "Australia",
        :g4 "Panama",
        :g2 "England",
        :d4 "Nigeria",
        :c2 "Denmark",
        :g3 "Tunisia",
        :h4 "Senegal",
        :g1 "Belgium",
        :e4 "Costa Rica",
        :c1 "France",
        :f3 "Sweden",
        :b4 "Iran",
        :f2 "Mexico",
        :b3 "Portugal",
        :h2 "Japan",
        :h1 "Poland",
        :d3 "Argentina",
        :h3 "Colombia",
        :f4 "South Korea",
        :a4 "Saudi Arabia"},
 :rounds
       {:round-16
                          #{"Uruguay" "Portugal" "Brazil" "Colombia" "Croatia" "Belgium"
                            "Mexico" "Egypt" "Japan" "France" "Denmark" "Switzerland" "Iceland"
                            "Spain" "Germany" "England"},
        :quarter
                          #{"Uruguay" "Portugal" "Brazil" "Croatia" "Belgium" "France" "Spain"
                            "Germany"},
        :semi #{"Brazil" "France" "Spain" "Germany"},
        :final #{"France" "Spain"},
        :third-and-fourth #{"Brazil" "Germany"},
        :winner "Spain"},
 :pichichi "Diego Costa",
 :mvp "Isco"}
