{:name "GoraAlcanadre",
 :matches
       {["Panama" "Tunisia"] "2",
        ["Colombia" "Japan"] "X",
        ["Iran" "Portugal"] "X",
        ["Serbia" "Switzerland"] "X",
        ["Costa Rica" "Serbia"] "X",
        ["Poland" "Colombia"] "2",
        ["Sweden" "South Korea"] "X",
        ["Germany" "Sweden"] "1",
        ["Peru" "Denmark"] "2",
        ["France" "Australia"] "1",
        ["Belgium" "Tunisia"] "1",
        ["Serbia" "Brazil"] "2",
        ["England" "Panama"] "1",
        ["Denmark" "France"] "X",
        ["Russia" "Egypt"] "1",
        ["Japan" "Poland"] "2",
        ["Nigeria" "Iceland"] "X",
        ["Denmark" "Australia"] "2",
        ["Switzerland" "Costa Rica"] "1",
        ["Iran" "Spain"] "1",
        ["Uruguay" "Russia"] "1",
        ["South Korea" "Mexico"] "X",
        ["Russia" "Saudi Arabia"] "1",
        ["South Korea" "Germany"] "2",
        ["Mexico" "Sweden"] "2",
        ["Iceland" "Croatia"] "X",
        ["Saudi Arabia" "Egypt"] "2",
        ["Argentina" "Iceland"] "X",
        ["England" "Belgium"] "2",
        ["Japan" "Senegal"] "2",
        ["Portugal" "Spain"] "X",
        ["Brazil" "Costa Rica"] "1",
        ["Australia" "Peru"] "2",
        ["Uruguay" "Saudi Arabia"] "X",
        ["Egypt" "Uruguay"] "2",
        ["Portugal" "Morocco"] "2",
        ["France" "Peru"] "1",
        ["Germany" "Mexico"] "1",
        ["Morocco" "Iran"] "2",
        ["Brazil" "Switzerland"] "1",
        ["Senegal" "Colombia"] "X",
        ["Belgium" "Panama"] "1",
        ["Argentina" "Croatia"] "2",
        ["Spain" "Morocco"] "1",
        ["Nigeria" "Argentina"] "1",
        ["Croatia" "Nigeria"] "1",
        ["Tunisia" "England"] "2",
        ["Poland" "Senegal"] "2"},
 :group-standings
       {:d1 "Croatia",
        :a2 "Russia",
        :e1 "Brazil",
        :b2 "Iran",
        :d2 "Nigeria",
        :f1 "Germany",
        :c3 "Peru",
        :e2 "Switzerland",
        :e3 "Serbia",
        :a3 "Egypt",
        :a1 "Uruguay",
        :b1 "Spain",
        :c4 "Australia",
        :g4 "Panama",
        :g2 "England",
        :d4 "Argentina",
        :c2 "France",
        :g3 "Tunisia",
        :h4 "Japan",
        :g1 "Belgium",
        :e4 "Costa Rica",
        :c1 "Denmark",
        :f3 "South Korea",
        :b4 "Morocco",
        :f2 "Sweden",
        :b3 "Portugal",
        :h2 "Senegal",
        :h1 "Colombia",
        :d3 "Iceland",
        :h3 "Poland",
        :f4 "Mexico",
        :a4 "Saudi Arabia"},
 :rounds
       {:round-16
                          #{"Uruguay" "Brazil" "Colombia" "Sweden" "Croatia" "Belgium"
                            "Nigeria" "Russia" "France" "Iran" "Senegal" "Denmark"
                            "Switzerland" "Spain" "Germany" "England"},
        :quarter
                          #{"Uruguay" "Brazil" "Croatia" "Belgium" "Denmark" "Spain" "Germany"
                            "England"},
        :semi #{"Brazil" "France" "Spain" "Germany"},
        :final #{"Spain" "Germany"},
        :third-and-fourth #{"Brazil" "France"},
        :winner "Spain"},
 :pichichi "Diego Costa",
 :mvp "Isco"}
